#img_and_result {
    background-color: lightslategrey;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px white;
    border: 2px solid white;
    color:darkblue;
    text-shadow: 2px 2px 5px skyblue;
}
#mini_result {
    background-color: rgb(224, 219, 219);
    padding: 6px;
    border-radius: 10px;
    width: 350px;
}
.head {
    background-color: white;
    color: rgb(125, 133, 156);
}
b {
    color:blue;
}
#footer b {
    color:black;
}
#footer {
    background-color: rgb(224, 219, 219);
    padding: 2px;
}
#case_study_ans {
    background-color: rgb(224, 219, 219);
    font-size: 15px;
    padding: 2px;
    border-radius: 10px;
    width: 500px;
}